# enable this if you need to fetch google sheet data in local development
GOOGLE_PRIVATE_KEY=${YOUR_GOOGLE_PRIVATE_KEY}

# enable this if you need to build in local development
# sentry build plugin is enabled, so running `npm run build` will push sentry release
SENTRY_AUTH_TOKEN=${YOUR_SENTRY_AUTH_TOKEN}
SENTRY_RELEASE=develop

# enable this if you need to use supabase in local development
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
# enable this if you need to generate supabase database types
NEXT_PUBLIC_SUPABASE_PROJECT_REF=your-project-ref

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# OAuth Providers
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=your-facebook-client-id
NEXT_PUBLIC_FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
NEXT_PUBLIC_LINE_CLIENT_ID=your-line-client-id
NEXT_PUBLIC_LINE_CLIENT_SECRET=your-line-client-secret

